@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
*{
    font-family: 'Cormorant Garamond', serif;
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),url('lp.jpg')); */
}
body{
    /* background-image: url('lp.jpg') no-repeat ; */
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('lp.jpg') ;
     background-position: center;
     background-size: cover;
     height: 100vh;
     background-attachment: fixed;
}
h2{
    text-align: center;
    color: azure;
}
.container{
    display: flex;
    color: azure;
    flex-direction: column;
   position: relative;
   margin-top: 3rem;
   left: 33rem;
    width: 30%;
}
input[type=text]{
    padding: 4px 4px;
    
}
input[type=password]{
    padding:6px 6px;
}
button{
    margin-top: 2rem;
    position: relative;
    padding: 1.5rem 1.5rem;
    border-radius: 2px;
    left:45rem;
    cursor: pointer;
}
input[type=submit]{
    margin-top:2rem ;
    position: relative;
    /* padding: .9rem .9rem; */
    left: 45rem; 
    border-radius: 3px;  
}
